@charset "utf-8";

// WEB FONT
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:100,300,400,500,700&subset=korean');

/* ===============
    CSS RESET
================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  z-index: 10;
}

// $main-color: #531628;
$main-color: #fff;
$main-text-color: #fff;

html {
  font-size: 10px;
}

body {
  background-color: $main-color;
  font-size: 14px;
  // font-family:'Lato', 'Noto Sans KR', sans-serif;
  // font-family: 'Do Hyeon', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

// loading indicator
body.loading::after {
  display: block;
  position: fixed;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block
}

// content
.header {
  width: 100%;
  .nav,
  .nav-authorized {
    position: relative;
    z-index: 100;
    width: 1024px;
    margin: 0 auto;
    .btn-container {
      display: flex;
      align-items: center;
      position: absolute;
      top: 5px;
      list-style: none;
      .login, .register, .logout {
        font-size: 17px;
        background-color: transparent;
        color: $main-text-color;
        padding: 5px 0;
        margin-right: 10px;
        outline: none;
        cursor: pointer;
      }
      .login:hover, .register:hover, .logout:hover {
        border-bottom: 1px solid $main-text-color;
      }
    }
  }

  .bg-container,
  .bg-container-authorized {
    position: relative;
    width: 100%;
    .bg-img {
      cursor: pointer;
      background-color: $main-color;
      background-image: url("http://ticketimage.interpark.com/TCMS3.0/MDSho/1780002001/1803/180319032152_20180319032152.gif");
      background-repeat: no-repeat;
      background-position: 0 0;
      /* background-size: 100% 100%; 배경 이미지를 영역 안에 채우기 위해 크기를 줄이거나 늘린다. */
      /* background-size: cover; 배경 영역을 채우고 나머지는 잘라낸다. */
      /* background-size: contain; 이미지를 배경 영역 안에 온전히 채운다. */
      background-size: cover;
      // width: 100%;
      // height: 280px;
      padding-top: 18%; /* 부모(.rwd-container) 크기(width)의 50% 만큼 차지한다. */
    }
  }
}

// login page
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px auto 0 auto;
  .login-title,
  .register-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .input-container {
    width: 80%;
    text-align: center;
    .id-container,
    .pw-container,
    .pw-confirm-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .input {
      border: 1px solid #ccc;
      width: 100%;
      height: 50px;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 17px;
      background-color: #fff;
      outline: none;
    }
    .input:focus {
      background-color: #fff8dc;
    }
    .login-button,
    .register-button {
      cursor: pointer;
      outline: none;
      width: 30%;
      height: 40px;
      background-color: red;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
.register-btn-container {
  // 일단 화면에서 빼놓기 위한 display: none;
  display: none;
  width: 50%;
  margin: 5px auto;
  text-align: right;
  border: 1px solid black;
  .register-button {
    cursor: pointer;
    padding: 5px 0 0 0;
    background-color: transparent;
    color: #600f1e;
    font-size: 17px;
    font-weight: 500;
    outline: none;
  }
  .register-button:hover {
    border-bottom: 1.5px solid #600f1e;
  }
}

// prod-list page
.category-container {
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
  list-style: none;
  display: flex;
  .button {
    cursor: pointer;
    outline: none;
    font-size: 15px;
    padding: 15px 10px;
    background-color: $main-color;
    color: #777;
    margin-right: 10px;
  }
  .button:hover {
    color: #a00f1e;
    font-weight: 700;
  }
}
.prod-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3%;
  width: 100%;
  .prod-item {
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 0px 0px #999;
    transition: box-shadow 0.3s;
    .prod-img-container {
    height: 330px;
      .prod-img {
        width: 100%;
        height: 100%;
      }
    }
    .prod-item-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      .prod-item-title {
        font-size: 17px;
        font-weight: 500;
        color: #777;
      }
      .prod-item-price {
        margin-top: 5px;
        font-size: 25px;
        font-weight: 700;
        color: #ff483b;
      }
    }
  }
  .prod-item:hover {
    box-shadow: 2px 2px 2px 2px #ccc;
  }
}

// prod-detail page
.prod-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  .prod-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    .prod-detail-img-container {
      width: 100%;
      .prod-detail-img {
        width: 100%;
      }
    }
    .prod-buy-form {
      display: flex;
      flex-direction: column;
      padding: 15px;
      .prod-detail-title {
        font-size: 30px;
        font-weight: 400;
      }
      .prod-detail-price {
        width: 100%;
        font-size: 40px;
        font-weight: 700;
        margin-top: 20px;
      }
      .row {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
      }
      .label {
        font-size: 15px;
        line-height: 30px;
      }
      .select-option {
        cursor: pointer;
        outline: none;
        border: 1px solid #ccc;
        width: 50%;
        font-size: 20px;
        padding: 5px;
      }
      .minus, .plus{
        cursor: pointer;
        outline: none;
        width: 30px;
        border: 1px solid #ccc;
        background-color: #eee;
        font-size: 20px;
        padding: 3px 5px;
      }
      .select-quantity {
        outline: none;
        width: 60px;
        border: 1px solid #ccc;
        font-size: 20px;
        text-align: center;
        padding: 3px 5px;
      }
      .total-price-view {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        .total-price-title {
          font-size: 15px;
        }
        .total-price {
          margin-left: 15px;
          font-size: 35px;
          font-weight: 600;
        }
      }
      .buy-btn-container {
        margin-top: 40px;
        width: 100%;
        .bucket-btn,
        .buy-btn {
          cursor: pointer;
          display: inline-block;
          width: 49%;
          height: 50px;
          font-size: 20px;
          font-weight: 500;
          background-color: #fff;
          border: 1px solid #000;
        }
        .buy-btn {
          background-color: red;
          color: $main-text-color;
          border: 0;
        }
      }
    }
  }
  .divide-bar {
    margin: 30px 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    .divide-bar-inner {
      display: inline-block;
      width: 100%;
      padding: 0 40px;
      .divide-bar-content {
        cursor: pointer;
        display: inline-block;
        line-height: 30px;
        padding: 7px 0;
        border-bottom: 3px solid #333;
        font-size: 18px;
        color: #bbb;
        margin-right: 40px;
      }
      .divide-bar-content:first-child {
        display: inline-block;
        vertical-align: middle;
        line-height: 30px;
        padding: 7px 0;
        border-bottom: 3px solid red;
        font-size: 18px;
        color: $main-text-color;
        margin-right: 40px;
      }
    }
  }
  .prod-detail-description {
    width: 80%;
    .prod-detail-description-img {
      width: 100%;
    }
  }
}

.bucket-list {
  border: 1px solid #ccc;
  margin-top: 10px;
  .bucket-head {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom: 3px ridge #ccc;
    padding: 10px 0;
    .cell {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.total-price-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 20px;
  .total-price-title {
    font-size: 15px;
    margin-right: 20px;
  }
  .total-price {
    font-size: 30px;
    font-weight: 600;
  }
}
.buy-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  .all-buy-btn {
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    background-color: red;
    color: $main-text-color;
    border: 1px solid #ccc;
    outline: none;
  }
}


// 장바구니 페이지
.bucket-item {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  column-gap: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #ccc;
  .cell {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .bucket-img-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .bucket-img {
    height: 80px;
    margin-right: 30px;
  }
  .bucket-item-check {
    width: 17px;
    height: 17px;
  }
  .bucket-quantity {
    .minus, .plus{
      cursor: pointer;
      outline: none;
      width: 20px;
      border: 1px solid #ccc;
      background-color: #eee;
      font-size: 16px;
      padding: 3px 0px;
      text-align: center;
    }
    .select-bucket-quantity {
      outline: none;
      width: 30px;
      border: 1px solid #ccc;
      font-size: 16px;
      text-align: center;
      padding: 3px 0px;
    }
  }

  .delete-cell {
    cursor: pointer;
    width: 40px;
    height: 35px;
    font-size: 15px;
    background-color: transparent;
  }
  .delete-cell:hover {
    color: #a00f1e;
    font-weight: 500;
  }
}

// 주문내역 페이지
.order-list {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
  .order-head,
  .order-item {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    .cell {
      text-align: center;
    }
    .order-date-time {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .order-img-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapper {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .order-img {
      height: 80px;
      margin-right: 30px;
    }
    .order-price-sum {
      font-size: 18px;
      font-weight: 700;
      color: #ff483b;
    }
  }
  .order-head {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 3px ridge #ccc;
  }
  .order-item {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}

// root page
.page-move-btn {
  width: 1024px;
  margin: 30px auto 0 auto;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  .cart-btn,
  .history-btn {
    font-size: 35px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777;
    .btn-title {
      font-size: 13px;
      margin-top: 5px;
      font-weight: 500;
    }
  }
  .cart-btn:hover,
  .history-btn:hover {
    color: #000;
  }
}
.page-move-btn.hidden {
  display: none;
}

.root {
  // border: 1px solid black;
  width: 1024px;
  margin: 0px auto 50px auto;
}

