@charset "utf-8";

/* ===============
    CSS RESET
================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  z-index: 10;
}

// $main-color: #531628;
$main-color: #fff;
$main-text-color: #fff;

html {
  font-size: 10px;
}

body {
  background-color: $main-color;
  font-size: 14px;
  font-family:'Lato', 'Noto Sans KR', sans-serif;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block
}

// content
.header {
  .header-header {
    position: absolute;
    z-index: 200;
  }
  .bg-container,
  .bg-container-authorized {
    position: relative;
    width: 100%;
    .bg-img {
      background-color: $main-color;
      background-image: url("http://ticketimage.interpark.com/TCMS3.0/MDSho/1780002001/1803/180319032152_20180319032152.gif");
      background-repeat: no-repeat;
      background-position: 0 0;
      /* background-size: 100% 100%; 배경 이미지를 영역 안에 채우기 위해 크기를 줄이거나 늘린다. */
      /* background-size: cover; 배경 영역을 채우고 나머지는 잘라낸다. */
      /* background-size: contain; 이미지를 배경 영역 안에 온전히 채운다. */
      background-size: 100% 100%;
      width: 100%;
      height: 280px;
      // padding-top: 18%; /* 부모(.rwd-container) 크기(width)의 50% 만큼 차지한다. */
      // transition: all 2s;
      .btn-container {
        position: absolute;
        top: 2%;
        left: 15%;
        .login, .register, .logout {
          font-size: 17px;
          background-color: transparent;
          color: $main-text-color;
          padding: 5px 0;
          margin-right: 10px;
          outline: none;
          cursor: pointer;
        }
        .login:hover, .register:hover, .logout:hover {
          border-bottom: 1px solid $main-text-color;
        }
      }
    }
  }
}

// login page
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  width: 50%;
  margin: 0 auto;
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .input-container {
    border: 1px solid #000;
    .input {
      border: 1px solid #ccc;
      width: 100%;
      height: 50px;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 20px;
    }
    .login-button {
      width: 100%;
      height: 40px;
      background-color: #600f1e;
      color: #fff;
      font-size: 20px;
    }
  }
}

// prod-list page
.prod-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3%;
  width: 100%;
  .prod-item {
    width: 100%;
    margin-bottom: 10%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    .prod-img-container {
    height: 330px;
      .prod-img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    .prod-item-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .prod-item-title {
        cursor: pointer;
      }
    }
  }
}

// prod-detail page
.prod-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  .prod-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    .prod-detail-img-container {
      width: 100%;
      border: 1px solid red;
      .prod-detail-img {
        width: 100%;
      }
    }
    .prod-buy-form {
      border: 1px solid blue;
      display: flex;
      flex-direction: column;
      padding: 15px;
      .prod-detail-title {
        font-size: 30px;
        font-weight: 400;
      }
      .prod-detail-price {
        width: 100%;
        font-size: 40px;
        font-weight: 700;
        margin-top: 20px;
      }
      .row {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
      }
      .label {
        font-size: 15px;
        line-height: 30px;
      }
      .select-option {
        border: 1px solid #ccc;
        width: 50%;
        font-size: 25px;
        padding: 5px;
      }
      .minus, .plus{
        width: 30px;
        border: 1px solid #ccc;
        background-color: #eee;
        font-size: 20px;
        padding: 3px 5px;
      }
      .select-quantity {
        width: 60px;
        border: 1px solid #ccc;
        font-size: 20px;
        text-align: center;
        padding: 3px 5px;
      }
      .total-price-view {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        .total-price-title {
          font-size: 15px;
        }
        .total-price {
          margin-left: 15px;
          font-size: 35px;
          font-weight: 600;
        }
      }
      .buy-btn-container {
        margin-top: 40px;
        width: 100%;
        .buy-btn {
          display: inline-block;
          width: 49%;
          height: 50px;
          font-size: 20px;
          font-weight: 500;
          background-color: #fff;
          border: 1px solid #000;
        }
        .buy-btn.red {
          background-color: red;
          color: $main-text-color;
          border: 0;
        }
      }
    }
  }
  .divide-bar {
    width: 100%;
    height: 5px;
    background-color: #000;
  }
  .prod-detail-description {
    border: 1px solid yellow;
    width: 80%;
    .prod-detail-description-img {
      width: 100%;
      border: 1px solid green;
    }
  }
}


// root page
.root {
  border: 1px solid #000;
  width: 1024px;
  margin: 0 auto;
  .category-container {
    margin-bottom: 15px;
    border: 1px solid #000;
    .button {
      cursor: pointer;
      outline: none;
      font-size: 17px;
      padding: 5px 10px;
      background-color: #600f1e;
      color: #fff;
    }
  }
}
